In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv('../data/raw/ieee_fraud.csv')

In [5]:
df.shape

(590540, 394)

In [6]:
CELVALTOZO_NEVE = 'isFraud' 
KERESETT_MINTA_MERET = 10000

kis_minta_df, _ = train_test_split(
    df,
    train_size=KERESETT_MINTA_MERET,
    stratify=df[CELVALTOZO_NEVE],
    random_state=42
)

In [7]:
kis_minta_df

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
165447,3152447,0,3527730,50.00,R,12695,490.0,150.0,visa,226.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
93049,3080049,1,1918601,34.63,C,11626,176.0,185.0,mastercard,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403537,3390537,0,10185073,82.95,W,12741,106.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34004,3021004,0,845604,60.00,H,9803,583.0,150.0,visa,226.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
274237,3261237,0,6650823,163.00,W,1279,237.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514629,3501629,0,13467010,335.00,W,17250,596.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226288,3213288,0,5347655,311.95,W,6019,583.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303215,3290215,0,7503677,370.00,W,2464,216.0,150.0,mastercard,195.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259147,3246147,0,6213237,335.00,W,6481,111.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
523532,3510532,0,13743340,213.00,W,12559,555.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
kis_minta_df.to_csv('../data/raw/ieee_fraud_demo.csv', index=False)